.card-container {
    background: #282828;
    width: 30vw;
    height: fit-content;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

.card-button {
    border: none;
    background: #1dc95b;
    color: white;
    width: 40px;
    height: 40px;
    font-size:larger;
    border-radius: 50%;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    transition: all .1s;
}

.opt1:hover, .opt2:hover{
    width: 45px;
    height: 45px;
    font-size: x-large;
}
.opt1:active, .opt2:active{
    background: white;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-weight: lighter;
}